<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Circle Purchase Orders{% endblock %}</title>
    {% block styling_or_scripts %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/img/blue_icon_8x.png" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/blue_icon_8x.png" style="margin-top:-10px; height: 40px" /> Purchase Orders</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li{% block list_active %}{% endblock %}><a href="/purchase/">List your POs</a></li>
            <li{% block create_active %}{% endblock %}><a href="/purchase/create/">Create PO</a></li>
          </ul>
        {% if user %}
            <p class="navbar-text navbar-right">Logged in as: {% if user.name %}{{ user.name }}{% else %}{{ name }}{% endif %} (<a href="{{ logout }}" class="navbar-link">logout</a>)</p>
        {% else %}
        <p class="navbar-text navbar-right"><a href="{{ login }}" class="navbar-link">Log in</a></p>
        {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>
    {% block breadcrumbs %}

    {% endblock %}

    <div class="container">
    {% block heading %}{% endblock %}
    {% if not user %}
        <p>Please <a href="{{ login }}">login</a> to use this system.</p>
    {% else %}
      {% block content %}{% endblock %}
    {% endif %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <p class="navbar-text">&copy; {{ '' | copyright }} <img src="/static/img/footer_image.png" class="footer-image" /></p>
        </div>
    </nav>
    </div>
    <script src="/static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
    <script src="/static/js/pad.js"></script>
    <script src="/static/js/limitCharacters.js"></script>
    {% block body_scripts %}{% endblock %}
</body>
</html>
