{% extends 'base.html' %}

{% block list_active %} class="active"{% endblock %}

{% block content %}
    <h2>Purchase orders <small>Click on the icons to view details</small></h2>
    <p>Legend: <span class="glyphicon glyphicon-ok text-success"></span> - Approved, <span class="glyphicon glyphicon-remove text-danger"></span> - Denied, <span class="glyphicon glyphicon-bullhorn"></span> - Pending, <span class="glyphicon glyphicon-ban-circle"></span> - Cancelled</p>
    <div class="table-responsive">
    <table class="table" id="poTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Purchaser</th>
                <th>Supplier</th>
                <th>Product</th>
                <th>Price</th>
                <th>Account code/description</th>
                <th>Invoiced</th>
                <th>Created Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    <p>Want to create a purchase? <a href="/purchase/create/">Click here!</a></p>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    window.templateData = {
        userIsAdmin: {% if user_is_admin or user_is_finance_admin %}true{% else %}false{% endif %},
        user: {% if user %}true{% else %}false{% endif %},
        userEmail: '{{ user.email }}',
        userIsFinanceAdmin: {% if user_is_finance_admin %}true{% else %}false{% endif %}
    };
</script>
<script type="text/javascript" src="/static/js/pages/purchaseorders.js"></script>
{% endblock %}
