.gcloudignore
.git
.gitignore
*.pyc
*.pyo
*.scss
*.md

#- ^(.*/)?#.*#$
#- ^(.*/)?.*~$
#- ^(.*/)?.*\.py[co]$
#- ^(.*/)?.*/RCS/.*$
#- ^(.*/)?.*/jspm_packages/.*$
# - ^(.*/)?\..*$
#- ^(.*/)?.*\.scss$
#- ^(.*/)?.*\.md$
